<div class="inner-menu">
  <div class="header item">
    文章素材管理
    <article>
      文章类别管理，素材内容管理
    </article>
  </div>
  <hr />
  <a class="item" href="javascript:void(0);"  ui-sref-active="active" ui-sref=".category"><i class="fa fa-circle"></i> 分类管理</a>
  <a class="item" href="javascript:void(0);"  ui-sref-active="active" ui-sref=".relation"><i class="fa fa-circle"></i> 分类关系管理</a>
  <a class="item" href="javascript:void(0);"  ui-sref-active="active" ui-sref=".posts"><i class="fa fa-circle"></i> 文章管理</a>

</div>
<div class="inner-content" ui-view>
  
</div>
