<div class="content-title">
  <span>文章管理</span>
  <div class="right floated small ui button" ui-sref=".create">添加文章</div>
</div>
<div class="content-body">
  <table class="text-align-left-th">
    <thead>
      <tr>
        <th width="20%">标题</th>
        <th width="15%">所属分类</th>
        <th width="10%">阅读数</th>
        <th width="10%">评论数</th>
        <th width="30%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="post in posts">
        <td>{{post.title}}</td>
        <td>{{post.category.name}}</td>
        <td>{{post.viewNum}}</td>
        <td>{{post.FavourNum}}</td>
        <td>
          <div class="right floated small ui button remove" ng-click="remove($index,post)">删除</div>
          <div class="right floated small ui button" ng-class="post.status=='DEACTIVE'?'green' : 'remove'"
         ng-click="toggleStatus(post)">{{post.status=='DEACTIVE'? "发布" : "隐藏"}}</div>
          <div class="right floated small ui button green" ui-sref=".edit({postid:post._id,index:$index})">编辑</div>
          <div class="right floated small ui button green" ng-click="preview(post._id)">预览</div>
        </td>
      </tr>
    </tbody>
    <tbody></tbody>
  </table>
</div>
<div ui-view></div>
