<div class="inner-menu">
    <div class="header item">
        标签管理
        <article>
            标签的添加与修改
        </article>
    </div>
    <hr />
    <a class="item" href="javascript:void(0);"  ui-sref-active="active" ui-sref=".list">
        <i class="fa fa-circle"></i> 标签列表</a>
    <a class="item" href="javascript:void(0);"  ui-sref-active="active" ui-sref=".relation">
        <i class="fa fa-circle"></i> 父子绑定</a>
    <a class="item" href="javascript:void(0);"  ui-sref-active="active" ui-sref=".relaList">
        <i class="fa fa-circle"></i> 父子列表</a>
</div>
<div class="inner-content" ui-view>

</div>
