<div class="page" id="page_studio_personal_home">
	<div class="header">
	</div>
	<div class="middle-menu">
		<div class="brief">
			<i class="icon icon-brief"></i>
			<div class="text">画室简介</div>
		</div>
		<div class="environment">
			<i class="icon icon-environment"></i>
			<div class="text">教学环境</div>
		</div>
		<div class="achievement">
			<i class="icon icon-achievement"></i>
			<div class="text">教学成果</div>
		</div>
	</div>
	<div class="works-show">
		<div class="title">
			<i class="icon icon-work"></i>
			<span class="titlename">作品展示</span>
			<span class="edit">编辑</span>
		</div>
		<div class="works">
			
		</div>
	</div>
	<div class="teaching-staff">
		<div class="title">
			<i class="icon icon-teacher"></i>
			<span class="titlename">师资力量</span>
			<span class="edit">编辑</span>
		</div>
		<div class="teachers">
		</div>
	</div>
	<div class="lessons">
		<div class="title">
			<i class="icon icon-lesson"></i>
			<span class="titlename">开设课程</span>
			<span class="edit">编辑</span>
		</div>
		<div class="lesson">
			
		</div>
	</div>
</div>