<div class="page" id="page_discovery">
  <div class="header">
	<span class="header-name">
	  发现
	</span>
	<i class="fa fa-search" ui-sref="base.search" ui-sref-active="active"></i>
  </div>
  <div class="tab">
	<div id="tab_teacher" class="tab-item" ui-sref=".teacher" ui-sref-active="active">老师</div>
	<div id="tab_studio" class="tab-item" ui-sref=".studio" ui-sref-active="active">画室</div>
	<div id="tab_master" class="tab-item" ui-sref=".master" ui-sref-active="active">画霸</div>
	<div id="tab_school" class="tab-item" ui-sref=".school" ui-sref-active="active">高校</div>
  </div>
  <div ui-view></div>
</div>
