  	<div class="page" id="page_feeds_init">
  		<div class="title">
			<div class="left">
				<div id="title_all" class="rectround-left" onclick="title_choose('1')">
					全&nbsp;部
				</div>
			</div>
			<div class="right">
				<div id="title_focus" class="rectround-right" onclick="title_choose('2')">
					关&nbsp;注
				</div>
			</div>
		</div>
		<div class="tab">
			<div id="tab-all" class="focused" onclick="tab('1','tab-all','tab-comment','tab-state')">
				全&nbsp;部
			</div>
			<div id="tab-comment" class="unfocused" onclick="tab('2','tab-all','tab-comment','tab-state')">
					画&nbsp;评
			</div>
			<div id="tab-state" class="unfocused" onclick="tab('3','tab-all','tab-comment','tab-state')">
				状&nbsp;态
			</div>
		</div>
			<i class="icon icon-yibao-init"></i>
			<div class="attention">
				去关注
			</div>
			<div class="attention-words">
				去关注一下，你会有意想不到的收获
			</div>
  	</div>