<div class="page" id="page_upload_tagselect">
  <p><i class="fa fa-close back"></i></p>
  <div class="row">
	<div class="tagWrap">
	  <div class="tag"></div>
	</div>
	<div class="tagWrap">
	  <div class="tag"></div>
	</div>
  </div>
  <div class="row">
	<div class="tagWrap">
	  <div class="tag"></div>
	</div>
	<div class="tagWrap">
	  <div class="tag"></div>
	</div>
  </div>
  <div class="row">
	<div class="tagWrap">
	  <div class="tag"></div>
	</div>
	<div class="tagWrap">
	  <div class="tag"></div>
	</div>
  </div>
  <div class="row">
	<div class="tagWrap">
	  <div class="tag"></div>
	</div>
	<div class="tagWrap">
	  <div class="tag"></div>
	</div>
  </div>

</div>
