<div id="page_works_display">
	<div class="main-title">
		<div class="title_back">
			<i class="fa fa-angle-left"></i>
		</div>
		<div class="title_name">
			作品展示
		</div>
		<div class="finish">
			完成
		</div>
	</div>
	<div class="contain" id="works_contain">
		<div class="works_card template">
			<div class="works_info">
				<div class="works_time">
					{{time}}
				</div>
				<div class="works_num">
					{{num}}
				</div>
			</div>
			<div id="works" class="works">

			</div>
		</div>
				<img class="image template"src="{{src}}" height="106px" width="106px">
	</div>
</div>