<div class="main-content slide"  ui-view></div>

<div class="bottom-menu">
  <div class="item active" ui-sref=".feed" ng-click ui-sref-active="active">
	<i class="fa fa-home"></i><br />动态</div>
  <div class="item" ui-sref="base.news" ng-click ui-sref-active="active">
	<i class="fa fa-bullhorn"></i><br />攻略</div>
  <div class="item camera" ng-click  ui-sref="camera">
	<i class="fa fa-camera"></i>
  </div>
  <div class="item" ui-sref="base.discovery" ng-click  ui-sref-active="active">
	<i class="fa fa-search"></i><br />发现</div>
  <div class="item" ui-sref="base.me" ng-click ui-sref-active="active">
	<i class="fa fa-user"></i><br />我的</div>
</div>
