<div id = "page_comment">
	<div class="main-title">
		<div class="title_back">
			<i class="fa fa-angle-left" ng-click ui-sref="^"></i>
		</div>
		<div class="title_name">
			点评
		</div>
		<div class="finish">
			完成
		</div>
	</div> 
	<div class="container">
		<div class="card-content" id="card-content">		
			<div class="card">
				<div class="information">
					<div class="head">
						<img ng-src="{{feed.owner.profile}}" />
					</div>
					<div class="data">
						<div class="upper">
							<div class="name">
								{{feed.owner.nickname}}
							</div>
							<div class="classNo">
								（{{feed.owner.grade}}）
							</div>
						</div>
						<div class="down">
							<div class="cardtime">
								{{feed.editTime | HQDate}}
							</div>
							<div class="province">
								{{feed.district}}
							</div>
							<div class="city">
								{{feed.city}}
							</div>
						</div>
					</div>
				</div>
				<div class="works">
					<div class="image">
						<img ng-click="viewPic(feed._id)"
				   ng-src="{{feed.picUrl}}">
					</div>
					<div class="text">
						{{feed.content}}
					</div>
				</div>
				<div class="category">
					<i class="fa fa-tag"></i>
					<div class="tag">
						{{feed.tags | arrayConcat}}
					</div>
				</div>
				<div class="line">
				</div>
				<div class="comment">
					<div class="pageview">
			    		<i class="fa fa-eye"></i>
			   			<span>{{feed.viewNum}}</span>
					</div>
					<div class="love">
			    		<i class="fa fa-thumbs-o-up" ng-class="feed.isFavour ? 'up' : 'down'"></i>
			    		<span>{{feed.favourNum}}</span>
					</div>
					<div class="collection">
			    		<i class="fa fa-star" ng-class="feed.isKudo ? 'up' : 'down'"></i>
			  			<span>{{feed.kudoNum}}</span>
					</div>
		  		</div>
			</div>
		</div>
		<div class="question-tags">
			<div class="title">
				请选择问题标签
			</div>
			<div class="label">
				<div class="lab" ng-repeat="tag in tags">
				  <div class="fa fa-caret-left"></div>
				  <div class="fa fa-circle"></div>
				  <div class="rect-tag">{{tag.tag}}</div>
				</div>
			  </div>
		</div>
		<div class="teacher-comments-header" ng-if="comments.length">
		  <span class="teacher-num">名师点评({{comments.length}})</span>
	    </div>
		  <div class="feed">
			<div class="teacher-comments" ng-repeat="comment in comments">
			  <div class="teacher-info">
				<div class="profile">
				  <img ng-src="{{comment.owner.profile}}"/>
				</div>
				<div class="info">
				  <span class="name">{{comment.owner.nickname}}</span><br/>
				  <span class="info-infor">{{comment.owner.district}}&nbsp;{{comment.owner.city}}&nbsp;{{comment.owner.organization}}</span>
				</div>
			  </div>			  
			  <div class="dialog-contents">
				<div ng-class="content.isAsker?'ask':'answer'" ng-repeat="content in comment.contents">
				  <div class="rect-ask" ng-if="content.isAsker&&content.type=='text'">
					{{content.content}}
				  </div>
				  <div class="time-ask" ng-if="content.isAsker">{{content.createTime | HQDate}}
				  </div>
				  <div class="rect-answer" ng-if="(!content.isAsker)&&content.type=='voice'"
					   ng-style="{'width':(content.length>20000?200:content.length/100) +'px'}"></div>
				  <div class="time-answer" ng-if="!content.isAsker">{{content.createTime | HQDate}}</div>
				  <span class="length" ng-if="(!content.isAsker)&&content.type=='voice'">
					{{content.length/1000}}&quot;
				  </span>
			  </div>
			</div>
		  </div>
		</div>
	</div>
</div>