<div class="page" id="page_camera">
  <div class="header">
	<span class="header-left" ng-click="goback()">
	  <i class="fa fa-angle-left"></i>
	</span>
	
	<span class="header-center header-name">发布作品</span>
	<span class="header-right next" ng-click="next()">下一步</span>
  </div>
  <div class="content">
	<div class="form">
	  <div class="first-row">
		<div class="img-box">
		  <div class="uploadBtn">
			<span class="fa fa-plus-square-o"></span>
		  </div>
		</div>
		<div class="text-area" contenteditable="true" ng-model="form.comment">
		  
		</div>
	  </div>
	  
	</div>
	<div class="slogan">
	  <img src="img/slogan.png" alt="" />
	</div>
  </div>
</div>
